// This goes into mainnav.
// When user is unauthenticated, shows login button
// When user is authenticated, shows logout button 
li
	div
		a.btn-login-dropbox.btn.navbar-btn.btn-primary.btn-sm.btn-icon-text(href="#") 
			i.fa.fa-dropbox 
			| Login with Dropbox