/* a button with icon on left and text on right */
.btn-icon-text
	i
		margin-right: 0.8em

#mainnav
	.btn-login-dropbox
		display: block
		margin: 0 10px

		@media (min-width: 768px)
			margin: 10px 0
	
// end @media (min-width: 768px)