nav.navbar.navbar-default(role="navigation")
	.container
		.navbar-header
			button.navbar-toggle(data-toggle="collapse", data-target="#mainnav")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#") TRACK

		.navbar-collapse.collapse#mainnav
			ul.nav.navbar-nav.navbar-right
				li
					div
						a.btn-login-dropbox.btn.navbar-btn.btn-primary.btn-sm.btn-icon-text(href="#") 
							i.fa.fa-dropbox 
							| Login with Dropbox