doctype html
html
	head
		title Test
		link(rel="stylesheet", href="css/app-all.css")
		script(src="js/libs/require.js" data-main="js/app-all")
	body
		nav.navbar.navbar-default(role="navigation")
			.container
				.navbar-header
					button.navbar-toggle(data-toggle="collapse", data-target="#mainnav")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#") TRACK

				#mainnav.navbar-collapse.collapse
					ul#userFunctions.nav.navbar-nav.navbar-right

		#content.container
